.EventDetail {
  padding: 15px;
  width: 100%;
  overflow-x: scroll;
}

.EventDetail__Type {
  margin-right: 10px;
}

.EventDetail__Parameters {
  margin-top: 15px;
}

.EventDetail__Results {
  margin-top: 15px;
}
