.Timeline {
  width: 35vw;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid lightgray;
}

.EventList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.EventListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.EventListItem:hover,
.EventListItemActive {
  background-color: #F5F5FA;
}

.EventListItem:hover {
  cursor: pointer;
}

.EventListItem:focus {
  outline: none;
}

.EventListItemSentinel {
  justify-content: center;
  border-bottom: none;
}

.EventListItemSentinel:hover {
  background: none;
  cursor: default;
}

.EventListItemButton {

}

.EventListItemDate {
  font-weight: 600;
}
