{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 10"
        ],
      },
      "modules": false,
      "useBuiltIns": "entry",
    }],
    "@babel/preset-react",
    "@babel/preset-stage-2",
    "@babel/preset-typescript",
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
      ],
    },
  },
}
