.Tag {
  padding: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2px;
}

.Tag--change {
  background-color: #007BFF;
}

.Tag--search {
  background-color: #17A2B8;
}

.Tag--result {
  background-color: #28A745;
}
