.EventLayout {
  border-bottom: 1px solid #F2F2F2;
}

.EventLayout:last-child {
  border-bottom: none;
}

.EventLayout__Link {
  display: block;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  background: none;
}

.EventLayout__Link:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}

.EventLayout__Link:focus {
  outline: none;
}

.EventLayout__Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
