html,
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 25px 0;
}

main {
  width: 100%;
  max-width: 760px;
  margin: 50px auto 0;
}

:global {
  .container {
    display: flex
  }

  .ais-SearchBox__root {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
